@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #45C4B0, #9AEBA3, #DAFDBA);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #225e5554;
}

h1{
    color: #012030;
    text-align: center;
    text-shadow: 1px 1px 2px #010d134f;
    font-weight: normal;
}

h2{
    color: #13678A;
    font-weight: normal;
}

p{
    text-align: justify;
}